<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'" ><a (click)="viewMode = 'map'">Map view </a></li>
    <li [class.active]="viewMode == 'list'" ><a (click)="viewMode = 'list'"> List view</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view content</div>
    <div *ngSwitchCase="'list'">List view content</div>
    <div *ngSwitchDefault>Otherwise content</div>
</div>